.dxpgControl_xaf
{
	color: Black;
	font: 9pt Tahoma;
	border: solid 1px #9f9f9f;
	background-color: white;
}
.dxpgMainTable_xaf
{
	color: Black;
	font: 9pt Tahoma;
	border: 0px;
	border-collapse: separate;
}
.dxpgHeader_xaf
{
	border-width: 0px;
	color: Black;
	background-color: #dcdcdc;
	cursor: pointer;
	white-space: nowrap;
}
.dxpgHeaderGroupButton_xaf
{
	padding-left: 4px;
	vertical-align: middle;
}
.dxpgHeaderText_xaf
{
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 3px;
	padding-bottom: 4px;
}
.dxpgHeaderSort_xaf
{
	padding-left: 0px;
	padding-right: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
}
.dxpgHeaderFilter_xaf
{
	padding-left: 0px;
	padding-right: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	vertical-align: middle;	
}
.dxpgHeaderHover_xaf
{
	background-color: #f1f1f1;
}
.dxpgArea_xaf, .dxpgArea_xaf table
{
	color: Black;
	font: 9pt Tahoma;
}
.dxpgArea_xaf
{
	border: solid 1px #9f9f9f;
	background-color: #ededed;
	border-left-style: none;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
}
.dxpgColumnArea_xaf
{
	border-bottom-style: solid;
}
.dxpgRowArea_xaf
{
}
.dxpgDataArea_xaf
{
}
.dxpgFilterArea_xaf
{
	background-color: #dcdcdc;
	color: #808080;
	border-bottom-style: solid;
}
.dxpgEmptyArea_xaf
{
	cursor: default;
	padding-top: 6px;
	padding-left: 6px;
	padding-bottom: 7px;
	padding-right: 6px;
}
.dxpgColumnFieldValue_xaf
{
	background-color: #dcdcdc;
	border: solid 1px #9f9f9f;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
	padding: 4px 6px;
}
.dxpgColumnTotalFieldValue_xaf
{
	background-color: #c9c9c9;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
}
.dxpgColumnGrandTotalFieldValue_xaf
{
	background-color: #bdbdbd;
	border-left-style: solid;
	border-bottom-style: solid;
	border-right-style: none;
	border-top-style: none;
}
.dxpgRowFieldValue_xaf
{
	background-color: #dcdcdc;
	border: solid 1px #9f9f9f;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-style: solid;
	padding: 3px 6px 4px 6px;
}
.dxpgRowTotalFieldValue_xaf
{
	background-color: #c9c9c9;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-style: solid;
}
.dxpgRowGrandTotalFieldValue_xaf
{
	background-color: #bdbdbd;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-top-style: solid;
	padding-top: 5px;
	padding-bottom: 6px;	
}
.dxpgCollapsedButton_xaf
{
	vertical-align: -1px;
	border: 0px;
	margin-right: 5px;
}
.dxpgCell_xaf
{
	text-align: right;
	background-color: White;	
	border-color: #cecece;
	border-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-style: none;
	border-right-style: none;
	padding: 4px;
	padding-top:3px;
}
.dxpgTotalCell_xaf
{
	background-color: #f2f2f2;
}
.dxpgGrandTotalCell_xaf
{
	background-color: #e2e2e2;
}
.dxpgRowGrandTotalCell_xaf
{
	background-color: #e2e2e2;
}
.dxpgColumnGrandTotalCell_xaf
{
	background-color: #e2e2e2;
}
.dxpgFilterWindow_xaf
{
	color: Black;
	font: 9pt Tahoma;
	border: solid 1px #9f9f9f;
}
.dxpgFilterItemsArea_xaf
{
	color: Black;
	background-color: White;
}
.dxpgFilterItem_xaf
{
	font: 9pt Tahoma;
}
.dxpgFilterButton_xaf
{
	font: 9pt Tahoma;
	padding: 2px 6px;
}
.dxpgFilterButtonPanel_xaf
{
	font: 9pt Tahoma;
	background-color: #ededed;
	border: 1px solid #dcdcdc;
	color: Black;
}
.dxpgLoadingDiv_xaf
{
	background-color: White;
	opacity: 0.01;
	filter: alpha(opacity=1);
}
.dxpgTopPager_xaf
{
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: solid 1px #9f9f9f;
	background-color: #F2F2F2;
	padding-bottom:2px;	
}
.dxpgBottomPager_xaf
{
	border-top: solid 1px #9f9f9f;
	border-bottom: none;
	border-right: none;
	border-left: none;
	background-color: #F2F2F2;
	padding-bottom:2px;
}
.dxpgCustomizationFieldsHeader_xaf
{
	color: White;
	font: 11px Tahoma;
}
.dxpgCustomizationFieldsContent_xaf
{
	padding: 0px !important;
}
.dxpgLoadingPanel_xaf
{
	font: 9pt Tahoma;
	color: #303030;
	background-color: White;
	border: solid 1px #9f9f9f;
	text-align: center;			
	cursor: wait;
}
.dxpgLoadingPanel_xaf td.dx
{
	padding: 12px 12px 12px 12px;
}
.dxpgMenuItem_xaf 
{
	font: 9pt Tahoma;	
}
.dxpgDataHeadersImage_xaf
{
	margin-right: 5px;
	vertical-align: -2px;
}